# This is a .gitignore file for the hl7-log-finder project.
# It specifies intentionally untracked files to ignore.
# The pattern /output/ tells Git to ignore the output directory at the root of the repository.
/output/
